---
import {t} from 'i18next';
---


<article class="flex flex-col items-center mt-16 px-4 bg-[#4831d4]" id="about">
    <div class="container mx-auto">
        
        <h2 class="text-4xl font-bold text-center pb-5 text-[--eva-color] reveal">
            {t('about.title')}
        </h2>

        <p class="text-lg pt-4 md:w-[45%] mx-auto reveal">
            {t('about.description')}
            <br /><br />
            {t('about.description_2')}
        </p>

        <button 
        class="mt-6 mb-10 static flex items-center gap-4 border-2 border-b-4 border-r-4 py-4 px-10 rounded-xl hover:bg-red-500 active:border-b-2 active:border-r-2 transition-colors w-[190px] mx-auto reveal"
        id="cvButton"
        >
            Curriculum
            <i class="fa-solid fa-file-arrow-down"></i>
        </button>

        <h2 class="text-center text-4xl font-bold text-[--eva-color] reveal">{t('about.subtitle')}</h2>

        <div class="flex flex-col items-center reveal">
            <div class="p-4 border-2 mt-4 mb-4 rounded-lg w-full h-40 flex flex-col justify-center transition-transform md:w-[50%] hover:text-[--eva-color] reveal">
                <h3 class="text-2xl font-bold">{t('about.education.title')}</h3>
                <p class="text-lg">{t('about.education.description')}</p>
                <p class="text-lg">{t('about.education.date')}</p>
            </div>

            <div class="p-4 border-2 mt-4 mb-4 rounded-lg w-full h-40 flex flex-col justify-center transition-transform md:w-[50%] hover:text-[--eva-color] reveal">
                <h3 class="text-2xl font-bold">Front-End Developer</h3>
                <p class="text-lg">Oracle Next Eduaction</p>
                <p class="text-lg">2022 - 2023</p>
            </div>
        </div>
    </div>
</article>

<script>
    import scrollreveal from 'scrollreveal';
    import cv from '../assets/misc/CV.pdf';
    import cvLight from '../assets/misc/CV-Light.pdf';

    scrollreveal().reveal(".reveal", {
        delay: 50,
        duration: 600,
        distance: '50px',
        origin: 'bottom',
        interval: 70
    });

    // Detect dark mode in the browser
    const isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

    const cvButton = document.getElementById('cvButton');

    const cvArray = [cv, cvLight];
    
    cvButton.addEventListener('click', () => {
        const cvIndex = isDarkMode ? 0 : 1;
        window.open(cvArray[cvIndex], '_blank');
    });
</script>