---

import CV from '../assets/misc/Diego-Garcia-CV.pdf';

---

<article class="flex flex-col items-center mt-16 px-4 bg-[#4831d4]" id="about">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold text-center pb-5 text-[--eva-color]">
            About me
        </h2>
        <p class="text-lg pt-4 md:w-[45%] mx-auto">
            Hello! My name is Diego Garcia and I enjoy creating things that live on the internet. My interest in web development started back in 2020 when I decided to try creating my own websites about things I like such as videogames or artists — that taught me a lot about HTML & CSS!
            <br /><br />
            Fast-forward to today, my main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.
        </p>

        <a class="mt-6 mb-10 static flex items-center gap-4 border-2 border-b-4 border-r-4 py-4 px-10 rounded-xl hover:bg-red-500 active:border-b-2 active:border-r-2 transition-colors w-[190px] mx-auto" href={CV} download="Diego-Garcia-CV">
            Curriculum
            <i class="fa-solid fa-file-arrow-down"></i>
        </a>

        <h2 class="text-center text-4xl font-bold text-[--eva-color]">Education</h2>

        <div class="flex flex-col items-center">
            <div class="p-4 border-2 mt-4 mb-4 rounded-lg w-full h-40 flex flex-col justify-center hover:translate-y-[-0.25rem] transition-transform md:w-[50%]">
                <h3 class="text-2xl font-bold">Servicio Nacional de Aprendizaje (SENA)</h3>
                <p class="text-lg">Software Analysis and Development</p>
                <p class="text-lg">2022 - 2024</p>
            </div>
            <div class="p-4 border-2 mt-4 mb-4 rounded-lg w-full h-40 flex flex-col justify-center hover:translate-y-[-0.25rem] transition-transform md:w-[50%]">
                <h3 class="text-2xl font-bold">Oracle Next Eduaction</h3>
                <p class="text-lg">Front-End Development</p>
                <p class="text-lg">2022 - 2023</p>
            </div>
        </div>
    </div>
</article>