---
import {t} from 'i18next';

---

<section class="px-4 mt-6 py-10 bg-[#4831d4]" id="contact">

    <div class="container mx-auto">

        <h2 class="text-4xl font-bold text-center reveal">
            {t('contact.title')} <br>
            <span class="text-[--eva-color]">{t('contact.subtitle')}</span>
        </h2>

        <ul class="flex flex-wrap w-full justify-around items-center pt-8 md:justify-center md:gap-12">
            <li class="hover:translate-y-[-0.25rem] transition-transform reveal hover:text-[--eva-color]">
                <a href="https://github.com/Ripdiegozz" target="_blank" class="text-6xl">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="hover:translate-y-[-0.25rem] transition-transform reveal hover:text-[--eva-color]">
                <a href="https://www.linkedin.com/in/dagadev/" target="_blank" class="text-6xl">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="hover:translate-y-[-0.25rem] transition-transform reveal hover:text-[--eva-color]">
                <a href="mailto:dagadev@proton.me" target="_blank" class="text-6xl">
                    <i class="fa-solid fa-square-envelope"></i>
                </a>
            </li>
            <li class="hover:translate-y-[-0.25rem] transition-transform reveal hover:text-[--eva-color]">
                <a href="https://twitter.com/rip_diegozz" target="_blank" class="text-6xl">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<script>
        import scrollreveal from 'scrollreveal';

        scrollreveal().reveal(".reveal", {
            delay: 150,
            duration: 600,
            distance: '50px',
            origin: 'bottom',
            interval: 100
        })
</script>