---
import { t } from "i18next";
---

<section class="px-4 mt-6 pb-10 pt-14 bg-[--eva-color]" id="contact">
  <div class="container mx-auto">
    <h2 class="text-4xl text-[#4831d4] font-bold text-center reveal">
      {t("contact.title")}
      <br />
      <span class="text-[#4831d4]">{t("contact.subtitle")}</span>
    </h2>

    <ul
      class="flex flex-wrap text-[#4831d4] w-full justify-around items-center pt-8 md:justify-center md:gap-12"
    >
      <li class="reveal hover:text-[4831d4]">
        <a
          href="https://github.com/Ripdiegozz"
          target="_blank"
          class="text-5xl"
          aria-label="My Github Profile"
        >
          <i class="fa-brands fa-github hover:scale-110 transition"></i>
        </a>
      </li>
      <li class="reveal">
        <a
          href="https://www.linkedin.com/in/dagadev/"
          target="_blank"
          class="text-5xl"
          aria-label="My Linkedin"
        >
          <i class="fa-brands fa-linkedin hover:scale-110 transition"></i>
        </a>
      </li>
      <li class="reveal" aria-label="Mail me :)">
        <a href="mailto:dagadev@proton.me" target="_blank" class="text-5xl">
          <i class="fa-solid fa-square-envelope hover:scale-110 transition"></i>
        </a>
      </li>
      <li
        class="reveal"
        aria-label="Reach me out at twitter"
      >
        <a
          href="https://twitter.com/rip_diegozz"
          target="_blank"
          class="text-5xl"
        >
          <i class="fa-brands fa-x-twitter hover:scale-110 transition"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<script>
  import scrollreveal from "scrollreveal";

  scrollreveal().reveal(".reveal", {
    delay: 150,
    duration: 450,
    distance: "50px",
    origin: "bottom",
    interval: 50,
  });
</script>
