---
import { t } from "i18next";

const techStackImages = [
  {
    name: "Git",
    key: "git",
  },
  {
    name: "HTML",
    key: "html",
  },
  {
    name: "CSS",
    key: "css",
  },
  {
    name: "JavaScript",
    key: "js",
  },
  {
    name: "Node.js",
    key: "nodejs",
  },
  {
    name: "Java",
    key: "java",
  },
  {
    name: "Spring Boot",
    key: "spring",
  },
  {
    name: "Angular",
    key: "angular",
  },
  {
    name: "Express.js",
    key: "express",
  },
  {
    name: "TailwindCSS",
    key: "tailwindcss",
  },
  {
    name: "React.js",
    key: "react",
  },
  {
    name: "Next.js",
    key: "nextjs",
  },
  {
    name: "TypeScript",
    key: "typescript",
  },
  {
    name: "MySQL",
    key: "mysql",
  },
  {
    name: "Prisma ORM",
    key: "prisma",
  },
  // {
  //   name: "Astro",
  //   key: "astro",
  // },
  {
    name: "Vite",
    key: "vite",
  },
  {
    name: "Planetscale",
    key: "planetscale",
  },
];
---

<section
  class="bg-[4831d4] text-[--eva-color] w-full px-4 py-12"
  id="stack"
>
  <section class="w-full pt-2 pb-10 mx-auto">
    <div
      class="container max-w-5xl mx-auto items-center justify-center px-4 text-center md:px-6 lg:grid-cols-2 xl:max-w-6xl"
    >
      <div class="space-y-4 md:space-y-6">
        <div class="space-y-3 reveal">
          <h2 class="text-3xl font-bold sm:text-4xl md:text-4xl">
            {t("devStack.title")}
          </h2>
          <p
            class="mx-auto font-semibold max-w-[700px] text-white md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
          >
            {t("devStack.subtitle")}
          </p>
        </div>
        <div
          class="flex flex-wrap justify-center gap-6 w-full md:w-[75%] mx-auto reveal"
        >
          {
            techStackImages.map((tech) => (
              <div
                class="p-0 transition-transform hover:scale-105 tooltip"
                data-tip={tech.name}
              >
                <p class="text-md text-center">
                  <a href="https://skillicons.dev" aria-label={tech.name}>
                    <img
                      src={`https://skillicons.dev/icons?i=${tech.key}`}
                      alt={tech.name}
                      class="h-14 w-14 md:h-16 md:w-16"
                    />
                  </a>
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <script>
    import scrollreveal from "scrollreveal";

    scrollreveal().reveal(".reveal", {
      delay: 50,
      duration: 450,
      distance: "50px",
      origin: "bottom",
      interval: 50,
    });
  </script>
</section>
