---
import logo from '/potrait.webp';
import {t} from 'i18next';
---

<section class="bg-[#4831d4]">
    <div class="container mx-auto mb-2 mt-0 py-10 text-center">
        <div class="flex flex-col md:grid md:grid-cols-2 md:flex-none md:items-center justify-center gap-0 md:gap-14 mx-auto max-w-5xl">
            <img src={logo} alt="A photo of mine" class='w-[275px] outline-[#ccf381] outline-5 outline rounded-full reveal px-4 mx-auto' id="my-photo" />
            <article class="p-4 reveal flex flex-col items-center justify-center" id="texto-animado">
                <h1 
                class='text-4xl font-bold text-center text-gradient md:text-5xl aparecer'
                id="rolTexto"></h1>
                <p class="text-xl mt-6 md:max-w-xl text-center">
                    {t('main.subtitle')}<span class="text-[--eva-color] hover:text-rose-400 transition">{t('main.subtitle_highlighted')}</span> {t('main.subtitle_2')}
                </p>
                <footer class="px-4 reveal flex-col flex gap-2">
                    <h2 class="pt-4 text-xl text-center font-semibold">
                        {t('main.contact')}
                    </h2>
                    <ul class="flex w-full justify-around items-center md:justify-center gap-6 mt-2 md:gap-10 reveal">
                        <li class="hover:scale-110 transition-transform hover:text-[--eva-color]">
                            <a href="https://github.com/Ripdiegozz" target="_blank" class="text-5xl" aria-label="My Github Profile">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li class="hover:scale-110 transition-transform hover:text-[--eva-color]">
                            <a href="https://www.linkedin.com/in/dagadev/" target="_blank" class="text-5xl" aria-label="My Linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="hover:scale-110 transition-transform hover:text-[--eva-color]" aria-label="Mail me :)">
                            <a href="mailto:dagadev@proton.me" target="_blank" class="text-5xl">
                                <i class="fa-solid fa-square-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </footer>
            </article>
        </div>
    </div>
</section>

<style>
    .aparecer {
        animation: aparecer is forwards;
        transform: translateY(20px);
    }

    @keyframes aparecer {
        to { 
            opacity: 0;
            transform: translateY(0);
        }
    }
</style>

<script>
    import scrollreveal from 'scrollreveal';
    import Typed from 'typed.js';

    const url = new URL(window.location.href); // .../es || .../en
    let roles = [];
    // Check Language
    if (
        url.pathname === '/es' ||
        url.pathname === '/es/'
    ) {
        roles = [
            "Desarrollador<br>Front-End",
            "Desarrollador<br>Full-Stack",
            "Desarrollador de<br>Software",
            "Analista de<br>Software"
        ]
    } else {
        roles = [
            "Front-End<br>Developer",
            "Full-Stack<br>Developer",
            "Software<br>Developer",
            "Software<br>Analyst"
        ]
    }

    const typedContainter = document.querySelector('.aparecer');

    if (url.pathname === '/es' || url.pathname === '/es/') {
        typedContainter.classList.add('min-h-[6rem]')
    } else {
        typedContainter.classList.add('min-h-[5rem]')
    }

    new Typed('#rolTexto', {
        strings: roles,
        typeSpeed: 85,
        cursorChar: '',
        backSpeed: 50,
        loop: true,
    });

    scrollreveal().reveal(".reveal", {
        delay: 50,
        duration: 450,
        distance: '50px',
        origin: 'bottom',
        interval: 50
    })
</script>