---
import logo from '/potrait.webp';
import {t} from 'i18next';
---

<section class="bg-[#4831d4]">
    <div class="container mx-auto my-12">
        <div class="flex flex-col md:flex-row md:items-center">
            <img src={logo} alt="A photo of mine" class='w-[250px] outline-[#ccf381] outline-5 outline outline-offset-4 rounded-xl mx-auto md:w-[350px] reveal' id="my-photo">
            <article class="px-4 mt-10 md:w-[50%] reveal">
                <h1 class='text-5xl m-0 font-bold text-center text-gradient md:text-5xl'>
                    {t('main.title')}
                </h1>
                <p class="text-2xl mt-6 text-center">
                    {t('main.subtitle')}<span class="text-[--eva-color] hover:text-red-400 transition-colors">{t('main.subtitle_highlighted')}</span> {t('main.subtitle_2')}
                </p>
                <footer class="px-4 reveal">
                    <h2 class="pt-8 text-2xl text-center font-bold">
                        {t('main.contact')}
                    </h2>
                    <ul class="flex w-full justify-around items-center pt-4 md:justify-center md:gap-10 reveal">
                        <li class="hover:translate-y-[-0.25rem] transition-transform hover:text-[--eva-color]">
                            <a href="https://github.com/Ripdiegozz" target="_blank" class="text-6xl">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li class="hover:translate-y-[-0.25rem] transition-transform hover:text-[--eva-color]">
                            <a href="https://www.linkedin.com/in/dagadev/" target="_blank" class="text-6xl">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="hover:translate-y-[-0.25rem] transition-transform hover:text-[--eva-color]">
                            <a href="mailto:dagadev@proton.me" target="_blank" class="text-6xl">
                                <i class="fa-solid fa-square-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </footer>
            </article>
        </div>
    </div>
</section>

<style>

</style>

<script>
    import scrollreveal from 'scrollreveal';

    scrollreveal().reveal(".reveal", {
        delay: 50,
        duration: 600,
        distance: '50px',
        origin: 'bottom',
        interval: 70
    })
</script>