.cards__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.skills__card{
    display: flex;
    border: 1px solid #E2E8F0;
    border-radius: 7px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    height: 130px;
    width: 130px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0 10px 12px -2px rgba(0, 0, 0, 0.1),0 5px 5px -2px rgba(0, 0, 0, 0.04);

}

.skills__card img{
    width: 110px;
    height: 110px;
}

.skills__card p{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    padding: 3px;
    margin: 10px 0 0 0;
    font-size: 18px;
}