.presentation__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__box--social h2{
    font-family: 'Titillium Web', sans-serif;
    margin-top: 1em;
    text-align: center;
}

.presentation__box--social{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.presentation__box--social div{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.presentation__box--social a{
    text-decoration: none;
}

.presentation__box--social a i{
    color: black;
    font-size: 60px;
}

