.presentation__box--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    background-image: linear-gradient(to right, #f12711, #db9c13);
    color: transparent;
    -webkit-background-clip: text;
}

body.dark .presentation__box--text{
    background-image: linear-gradient(to right, #acb6e5, #86fde8);
}


.presentation__box--text h2{
    margin: 0 0 10px 0.7em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 550;
}

.presentation__box--text h3{
    margin: 0 0 0 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}