/*Dark mode button*/
.switch__box{
    align-items: center;
    background: rgba(245, 245, 245, 0.932);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    display: flex;
    height: 38px;
    justify-content: center;
    width: 38px;
    cursor: pointer;
}

.fa-circle-half-stroke.active{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/*Menu btn*/

.menu-btn{
    align-items: center;
    background: rgba(245, 245, 245, 0.932);
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    display: flex;
    height: 38px;
    justify-content: center;
    width: 38px;
}

.menu__button--mobile{
    border: none;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.menu__button--mobile i{
    font-size: 20px;
    cursor: pointer;
}
/*Responsive*/

@media screen and (max-width: 800px){

}

