.proyect__card{
    width: 90%;
    border: 1px solid #E2E8F0;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.proyect__card img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.proyect__card h2{
    text-align: center;
    font-size: 28px;
    margin: 10px 0 5px 0;
    font-family: 'Titillium Web', sans-serif;
}

.proyect__card p{
    font-weight: bold;
    text-align: center;
    margin: 5px 0 15px 0;
    width: 250px;
    font-family: 'Martel', serif;
}

.proyect__buttons{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 15px;    
}

.proyect__buttons--button{
    font-size: 18px;
    width: 25%;
    padding: 12px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid#363636;
    font-family: 'Titillium Web', sans-serif;
    background: rgba(245, 245, 245, 0.932);
    text-decoration: none;
    color: #242424;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.proyect__buttons--button:hover{
    background: #727272;
    border: 1px solid #E2E8F0;
    color: #E2E8F0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}