.education-card{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    margin: 0 auto 1em auto;
    border: 1px solid #E2E8F0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    width: 80%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

.education__card--icons{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edcucation__card--text{
    display: flex;
    width: 75%;
    flex-direction: column;
    row-gap: 10px;
}

.education-card h2{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

.education-card h3{
    font-size: 16px;
    font-family: 'Martel', serif;
}


.education-card p{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
