---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Main from "../../containers/Main.astro";
import About from "../../containers/About.astro";
import DevStack from "../../containers/devStack.astro";
import Projects from "../../containers/Projects.astro";
import Contact from "../../containers/Contact.astro";

changeLanguage("es");
---

<Layout title="Dagadev 🚀">
	<main class='min-h-screen mx-auto flex flex-col bg-[#4831d4]'>
		<Main/>
		<DevStack/>
		<About/>
		<Projects/>
		<Contact/>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

