---
import i18next, {t} from 'i18next';

import logo from '/dagadev_logo.webp';

import { Header, Footer } from '../components/Index';
---

<!DOCTYPE html>
<html lang={i18next.language} data-theme="light" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo} />
		<meta name="description" content={t("meta.description")}>
		<meta name="keywords" content={t("meta.keywords")}>
		<meta name="author" content={t("meta.author")}>
		<meta name="url" content={t("meta.url")}>
		<meta name="image" content="https://res.cloudinary.com/djm7rshns/image/upload/v1703619486/sn8rhspvvr1gmtgy9zax.png">
		<meta name="twitter" content={t("meta.twitter")}>
		 <!-- Facebook Meta Tags -->
		 <meta property="og:url" content="https://dagadev.vercel.app/">
		 <meta property="og:type" content="website">
		 <meta property="og:title" content={t("meta.title")}>
		 <meta property="og:description" content={t("meta.description")}>
		 <meta property="og:image" content="https://res.cloudinary.com/djm7rshns/image/upload/v1703619486/sn8rhspvvr1gmtgy9zax.png">
	   
		 <!-- Twitter Meta Tags -->
		 <meta name="twitter:card" content="summary_large_image">
		 <meta property="twitter:domain" content="dagadev.vercel.app">
		 <meta property="twitter:url" content="https://dagadev.vercel.app/">
		 <meta name="twitter:title" content={t("meta.title")}>
		 <meta name="twitter:description" content={t("meta.description")}>
		 <meta name="twitter:image" content="https://res.cloudinary.com/djm7rshns/image/upload/v1703619486/sn8rhspvvr1gmtgy9zax.png">
		<meta name="generator" content={Astro.generator} />
		<title>{t("meta.title")}</title>
		<script src="https://kit.fontawesome.com/a8f367ec01.js" crossorigin="anonymous"></script>
	</head>
	<body class='text-white mx-auto bg-[#4831d4]'>
		<Header />
		<slot />
		<div class='cursor' id="cursor"></div>
		<Footer />
	</body>
</html>
<style is:global>

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(to right, #eecda3, #ef629f);
		--eva-color: #ccf381;
	}

	html {
		font-family: 'Roboto', sans-serif;
		background-color: #F6F6F6;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.cursor {
		position: fixed;
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
		pointer-events: none;
		left: -100px;
		top: 50%;
		/* mix-blend-mode: difference; */
		/* background-color: white; */
		z-index: 10000;
		border: 1px solid rgb(230, 208, 208);
		height: 35px;
		width: 35px;
		transition: all 200ms ease-out;
	}

	@media screen and (min-width: 320px) and (max-width: 768px) {
		.cursor {
			display: none;
		}
	}
</style>

<script>
	const cursor = document.getElementById("cursor");
	document.body.addEventListener("mousemove", function(e) {
	cursor.style.left = e.clientX + "px",
		cursor.style.top = e.clientY + "px";
	});
</script>
